<div>
    <dl class="row bg-dark">
        <dt class="col-sm-3 bg-dark text-light">Aluno:</dt>
        <dd class="col-sm-9 bg-dark text-light">{{aluno}}</dd>
    
        <dt class="col-sm-3 bg-dark text-light">Motivo:</dt>
        <dd class="col-sm-9 bg-dark text-light">{{motivo}}</dd>
        
        <dt class="col-sm-3 bg-dark text-light">Ação:</dt>
        <dd class="col-sm-9 bg-dark text-light">{{acao}}</dd>
        
        <dt class="col-sm-3 bg-dark text-light">Lista:</dt>
        <dd class="col-sm-9 bg-dark text-light">{{lista}}</dd>

        <dt class="col-sm-3 bg-dark text-light">Estado:</dt>
        <dd class="col-sm-9 bg-dark text-light">{{status}}</dd>

        <dt class="col-sm-3 bg-dark text-light">Resultado:</dt>
        <dd class="col-sm-9 bg-dark text-light">{{resultado}}</dd>
        
        <dt class="col-sm-3 bg-dark text-light">Data de Abertura:</dt>
        <dd class="col-sm-9 bg-dark text-light">{{data_abertura}}</dd>
        
        <dt class="col-sm-3 bg-dark text-light">Data de Encerramento:</dt>
        <dd class="col-sm-9 bg-dark text-light">{{data_conclusao}}</dd>
    </dl>
</div>