body {
    display: grid;
    place-items: center;
    min-width: 100vh;
    min-height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    display: grid;
    place-items: center;
}

.card {
    width: 400px;
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 260px;
    margin-bottom: 55px;
    justify-self: center;
}

.mb {
    margin-bottom: 27px;
}

@media (max-width: 768px) {
    body {
        min-width: 0;
        min-height: 100vh;
    }

    .card {
        width: 90%;
    }

    .logo {
        width: 90%;
    }

    .card input:not([type="checkbox"]) {
        width: calc(100% - 28px * 2 - 2px);
    }
}