<header>
    <a>
        <h1 class="display-5">CGAE</h1>
        <h1 class="h5">Listas Eletrônicas</h1>
    </a>
</header>

<hr>

<section class="my-5" style="display: flex; justify-content: center;">
    <form style="width:500px" method="post" action="" class="border border-light p-5 rounded">
        <div class="mb-5" style="text-align: center;">
            <h1 class="display-5">ENTRAR</h1>
        </div>

        {{status}}

        <div class="form-group">
            <label for="exampleInputEmail1">Usuário</label>
            <input type="email" name="email" class="form-control bg-dark text-light mb-3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email..." required>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" name="senha" class="form-control bg-dark text-light mb-3" id="exampleInputPassword1" placeholder="Senha..." required>
        </div>

        <div id="controls" style="justify-content: right; display: grid;">
            <div class="form-check mb-3">
                <input type="checkbox" name="check" class="form-check-input bg-dark" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Permanecer Conectado</label>
            </div>
    
            <button type="submit" class="btn btn-outline-success">ENTRAR</button>
        </div>
    </form>
</section>

<style>
  header
  {
      display: flex;
      user-select: none;
  }

  header a
  {
      text-decoration: none;
      color: white;
  }
</style>