<hr>

<section>
    <h1 class="display-4">Meu Perfil</h1>

    <div id="dados" class="mt-5">
        <dl class="row">
            <dt class="col-sm-3">Nome:</dt>
            <dd class="col-sm-9">{{nome}}</dd>
            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">{{email}}</dd>
            <dt class="col-sm-3">Quarto:</dt>
            <dd class="col-sm-9">{{quarto}}</dd>
            <dt class="col-sm-3">Série:</dt>
            <dd class="col-sm-9">{{serie}}</dd>
            <dt class="col-sm-3">Número:</dt>
            <dd class="col-sm-9">{{numero}}</dd>
            <dt class="col-sm-3">Possui permissão de pernoite:</dt>
            <dd class="col-sm-9">{{pernoite}}</dd>
        </dl>
    </div>

    <div class="btn-group dropright">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Minhas assinaturas 
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{URL}}/mylists/active">Ativas</a>
            <a class="dropdown-item" href="{{URL}}/mylists/encerred">Encerradas</a>
        </div>
    </div>
    
    <div class="btn-group dropright">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Minhas solicitações
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{URL}}/solicitations/open">Abertas</a>
            <a class="dropdown-item" href="{{URL}}/solicitations/finished">Concluídas</a>
        </div>
    </div>

    <br>
    
    <a href="{{URL}}/logout" class="btn btn-danger mt-3">Sair</a>
</section>

<style>
    @media (max-width: 768px)
    {
        .btn-group
        {
            margin-top: 1rem;
        }
    }
</style>