<footer>
    <img class="footer-logo" src="{{URL}}/src/img/common/footer/logo.svg" alt="if logo">

    <div class="footer-line"></div>

    <div class="footer-contacts">
        <a href="https://instagram.com/{{instagram}}" class="footer-contact">
            <img src="{{URL}}/src/img/common/footer/instagram.svg" alt="instagram">
            <span>{{instagram}}</span>
        </a>
        
        <a href="mailto:{{email}}" class="footer-contact">
            <img src="{{URL}}/src/img/common/footer/email.svg" alt="email">
            <span>{{email}}</span>
        </a>
        
        <div class="footer-contact">
            <img src="{{URL}}/src/img/common/footer/phone.svg" alt="telefone">
            <span>{{telefone}}</span>
        </div>
    </div>
</footer>