<nav>
    <ul class="navbar">
        <li class="nav-logo"><a class="nav-brand" href="#"><img src="{{URL}}/src/img/common/brand.svg" alt="CGAE brand"></a></li>

        <div class="nav-items">
            <li>
                <a class="nav-link" href="#">Home</a>
            </li>

            <li class="nav-link dropdown">
                <div class="dropdown-btn">
                    Listas <img src="{{URL}}/src/img/common/arrow-down.svg" alt="">
                </div>
                
                <div class="dropdown-content size-3">
                    <a href="#">Vai e volta</a>
                    <a href="#">Saída</a>
                    <a href="#">Pernoite</a>
                </div>
            </li>

            <li class="nav-link dropdown">
                <div class="dropdown-btn">
                    Assinaturas <img src="{{URL}}/src/img/common/arrow-down.svg" alt="">
                </div>
                
                <div class="dropdown-content size-2">
                    <a href="#">Ativas</a>
                    <a href="#">Encerradas</a>
                </div>
            </li>

            <li class="nav-link dropdown">
                <div class="dropdown-btn">
                    Perfil <img src="{{URL}}/src/img/common/arrow-down.svg" alt="">
                </div>
                
                <div class="dropdown-content size-2">
                    <a href="#">Meu perfil</a>
                    <a href="#" class="text-danger">Sair</a>
                </div>
            </li>
        </div>
    </ul>
</nav>