.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.btn-pagination {
    width: 40px;
    height: 40px;
    outline: none;
    background-color: transparent;
    color: white;
    display: grid;
    place-items: center;
    transition: 0.4s;
    cursor: pointer;
    font-family: var(--font-family);
}

.btn-pagination:hover {
    background-color: var(--background-secondary);
}

.btn-pagination img {
    width: 70%;
    height: 70%;
}

.btn-pagination.active {
    border: 1px solid var(--color-success);
    cursor: auto;
    background-color: transparent !important;
}

.btn-pagination.previous {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 0px;
    border-radius: 5px 0 0 5px;
}

.btn-pagination.previous:hover {
    border-color: white;
}

.btn-pagination.next {
    border-left: 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 5px 5px 0;
}

.btn-pagination.next:hover {
    border-color: white;
}

.btn-pagination.disabled:hover {
    border-color: rgba(255, 255, 255, 0.2) !important;
    background-color: transparent !important;
    cursor: default !important;
}