h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: var(--font-title);
    font-weight: 100;
    text-transform: uppercase;
}

p, span {
    color: white;
    font-family: var(--font-default);
}

.text-danger {
    color: var(--text-danger) !important;
}

.page-title {
    font-size: 35pt;
    margin: 5px 0 0 0;
}

.page-subtitle {
    font-size: 1.5rem;
}

@media (max-width: 1024px) {
    .page-title {
        font-size: 28pt;
    }
}

@media (max-width: 768px) {
    .page-title {
        font-size: 25pt;
    }
}

@media (max-width: 540px) {
    .page-title {
        font-size: 20pt;
    }
}

@media (max-width: 425px) {
    .page-title {
        font-size: 16pt;
    }
}

@media (max-width: 320px) {
    .page-title {
        font-size: 12pt;
    }
}