@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Readex+Pro:wght@200&display=swap');
@import "components.css";
@import "variables.css";

body {
    background-color: var(--background-default);
    padding: 0;
    margin: 0;
    font-family: var(--font-default);
    font-size: 15px;
}

.container {
    width: 90%;
    margin: auto;
}