<hr>

<section>
    <div id="title">
        <h5 class="display-5 mb-5">Painel de administração</h5>
    </div>

    <div id="links">
        <a href="{{URL}}/admin/signatures/" id="card">
            <img src="./resources/images/escrita.png" alt="icon">
            <h6><br>Consultar assinaturas</h6>
        </a>
        
        <a href="{{URL}}/admin/solicitations/open" id="card">
            <img src="./resources/images/chat.png" alt="icon">
            <h6><br>Consultar solicitações em aberto</h6>
        </a>
        
        <a href="{{URL}}/admin/students/" id="card">
            <img src="./resources/images/aluno.png" alt="icon">
            <h6><br>Consultar alunos</h6>
        </a>
        
        <a href="{{URL}}/admin/profile/" id="card">
            <img src="./resources/images/perfil.png" alt="icon">
            <h6><br>Meu perfil</h6>
        </a>
    </div>
</section>

<style>
    #card
    {
        border: 1px solid white;
        border-radius: 15px;
        min-width: 200px;
        max-width: 200px;
        padding: 20px;
        margin: 20px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: white;
        transition: 0.5s;
    }

    #card:hover
    {
        background-color: rgb(77, 77, 77);
    }

    #card img
    {
        width: 70%;
        padding: 10px;
        filter: invert();
    }

    #links
    {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    
    @media (max-width: 768px) {
        #links
        {
            overflow-x: scroll;
            justify-content: inherit;
        }
    }
</style>
