:root {
    --background-default: #191919;
    --background-secondary: #292929;
    --text-default: #FFF;
    --text-secondary: #494949;
    --text-danger: #BF3737;
    --color-success: #25A532;
    --color-danger: #BF3737;
    --color-primary: #3782bf;
    --color-secondary: #5f5f5f;
}